@import url('variables.css');

html, body {
  height: 100vh;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
}

/* ========== header ========== */
header {
  background-color: var(--grey-color);
  color: var(--orange-color);
}

/* ========== main ========== */
main {
  text-align: center;
}

table {
  width: 100%;
}

th, tr {
  height: 1.5em;
  border: none;
}

th {
  padding-top: 8px;
}

table input {
  width: 4em;
  text-align: center;
  margin: 0 auto;
}

input {
  width: 100%;
  text-align: center;
  height: 1.5em;
}


/* ========== footer ========== */
footer {
  background-color: var(--red-color);
  color: white;
  width: 100%;
  position: absolute;
  bottom: 0;
}
